<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shadowlayout_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_base">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShapeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ShadowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WikiActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".StarShowActivity"
            android:screenOrientation="portrait" />

        <!--多渠道打包需要配置-->
        <meta-data
            android:name="ATMAN_CHANNEL"
            android:value="${ATMAN_CHANNEL_VALUE}" />
    </application>

</manifest>